.certificazioni {
  background-color: #fff0;
  display: flex;
  flex-direction: column;
  gap: 20px;
}
@media screen and (min-width: 768px) {
  .certificazioni {
    flex-direction: row;
  }
  footer {
    position: absolute;
    width: 100%;
    bottom: 0;
  }
}
