/* certificazioni */
.certificazioni {
    background-color: transparent;
    display: flex;
    flex-direction: column;
    gap: 20px;
}
@media screen and (min-width: 768px) {
    .certificazioni {
        flex-direction: row;
    }
}
/* footer */
footer {
    position: absolute;
    width: 100%;
    bottom: 0;
}