.button {
  padding: 12px;
}
.button.buttonGrey {
  background-color: #283039;
}
.evidence {
  color: #2b8cee;
}
.underline {
  text-decoration: underline #2b8cee 3px;
}
h1 {
  margin-bottom: 4px;
}
h2 {
  margin-bottom: 10px;
}
li {
  font-size: 18px;
  margin: 8px 0;
}
video {
  width: 100%;
  max-width: 900px;
}
@media screen and (min-width: 1024px) {
  li {
    font-size: 20px;
  }
}
.progetto {
  color: #fff;
  margin-top: 20px;
}
.links {
  margin-top: 30px;
  display: flex;
  flex-direction: column;
  gap: 30px;
}
@media screen and (min-width: 768px) {
  .links {
    flex-direction: row;
    gap: 20px;
  }
}
.links svg {
  display: inline;
  vertical-align: middle;
}
.links a {
  vertical-align: middle;
}
/* extra: video */
.video {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  width: 90%;
  height: calc(100vh - 228px);
}
