/* utili */
.button {
  padding: 12px;
  border: 1px solid transparent;
}
.button.buttonGrey {
  background-color: #283039;
}
.button.buttonBlue {
  background-color: #2b8cee;
  margin-right: 10px;
}
.evidence {
  color: #2b8cee;
}
.underline {
  text-decoration: underline #2b8cee 3px;
}
/* generali */
h1 {
  margin-bottom: 4px;
}
li {
  font-size: 18px;
  margin: 8px 0;
}
button {
  margin: 0 20px 20px 0px;
}
/* contenuto principale */
.previewProject {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 20px;
}
.collageProject {
  width: 100%;
  object-fit: cover;
  border-radius: 10px;
  margin-right: 60px;
}
/* responsive */
@media screen and (min-width: 1024px) {
  li {
    font-size: 20px;
  }
  .previewProject {
    flex-wrap: nowrap;
  }
  .collageProject {
    width: auto;
    max-height: 340px;
    object-fit: contain;
  }
}
