body {
  background: radial-gradient(
    circle,
    rgba(255, 255, 255, 1) 0%,
    rgba(199, 128, 28, 1) 100%
  );
}
* {
  padding: 0;
  box-sizing: border-box;
  margin: 0;
}
/* header */
header {
  position: fixed;
  z-index: 11;
  background: #fff;
  width: 100%;
  top: 0;
  padding: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 2px solid grey;
}
header h1 a {
  color: #4e3b18;
  text-decoration: none;
  font-size: 38px;
}
@media screen and (max-width: 320px) {
  header h1 a {
    font-size: 26px;
  }
}
header h1 a strong {
  color: #8b8b14;
}
.titoli {
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  justify-content: center;
  margin-top: 180px;
  margin-bottom: 20px;
  gap: 10px;
  padding: 10px;
}
.titoli h1,
.titoli h3 {
  color: white;
}
.titoli h1 {
  font-size: 44px;
  text-shadow: 4px 4px 4px orange;
  margin-bottom: 0;
}
.titoli h3 {
  font-size: 24px;
}
.bio {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  width: 50%;
  margin: 0 auto;
}
.bio.content {
  font-size: 18px;
  color: whitesmoke;
}
.gallery {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  text-align: center;
  margin-top: 40px;
  margin: 0;
  margin: 80px;
}
.gallery .box-1 img,
.gallery .box-2 img {
  border-radius: 16px;
  box-shadow: 0 0 10px orangered;
  margin: 40px 0;
}
.gallery .box-1 img {
  width: 70%;
}
.gallery .box-2 img {
  width: 100%;
}
@media screen and (max-width: 320px) {
  .gallery .box-1 img {
    width: 100%;
    margin: 14px 0;
  }
}
.footer {
  margin-top: 120px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  padding: 40px 40px 0;
  background: rgb(237, 141, 24);
  border-top: 3px solid white;
  text-align: center;
  overflow: hidden;
}
.footer h2 {
  font-size: 38px;
  color: black;
  font-style: italic;
}
.footer p {
  font-size: 22px;
  color: black;
  font-style: italic;
}
.footer .copyright {
  margin-top: 40px;
  background: white;
  width: 100vw;
  padding: 8px 0;
}
@media screen and (min-width: 320px) {
  .footer h2 {
    font-size: 24px;
  }
  .footer p {
    font-size: 16px;
  }
  .footer .copy {
    font-size: 12px !important;
  }
}
@media screen and (min-width: 1024px) {
  .footer h2 {
    font-size: 38px;
  }
  .footer p {
    font-size: 22px;
  }
  .footer .copy {
    font-size: 18px !important;
  }
}
